body {
  background-color: gray; }

.body-background-thirds::after {
  clear: both;
  content: "";
  display: block; }

.body-background-thirds__side {
  width: calc(16.6666666667%);
  float: left;
  margin-left: 0px;
  height: 1px; }

.body-background-thirds__center {
  width: calc(100%);
  float: left;
  margin-left: 0px;
  background-color: white;
  height: 100%; }
  @media (min-width: 1000px) {
    .body-background-thirds__center {
      width: calc(66.6666666667%);
      float: left;
      margin-left: 0px; } }

.header-link-sixs::after {
  clear: both;
  content: "";
  display: block; }

.header-link-sixs__theLink {
  width: calc(100%);
  float: left;
  margin-left: 0px;
  font-size: 8px; }
  @media (min-width: 768px) {
    .header-link-sixs__theLink {
      width: calc(7.6923076923% - 5.3846153846px);
      float: left;
      margin-left: 5px;
      margin-top: 50px;
      font-size: 8px;
      text-align: center; } }

.header-link-sixs__contact {
  width: calc(7.6923076923% - 5.3846153846px);
  float: left;
  margin-left: 5px;
  margin-top: 50px;
  font-size: 8px;
  text-align: center;
  background-color: #1e1e1e;
  color: white; }
  .header-link-sixs__contact:hover {
    cursor: pointer; }

.the-link:hover {
  cursor: pointer;
  color: #0a82f5; }

.header-link-sixs__left-blank {
  width: calc(46.1538461538% - 7.3076923077px);
  float: left;
  margin-left: 5px;
  margin-top: 50px; }

#nav-icon {
  margin: 20px; }
  #nav-icon:hover {
    cursor: pointer; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

@media (max-width: 1000px) {
  #nav-links {
    display: none; } }
@media (min-width: 1000px) {
  #nav-icon {
    display: none; } }
.mySlides {
  position: relative;
  z-index: 2;
  display: none;
  width: 400px;
  height: 20%; }

.slideshow-container {
  z-index: 2;
  width: 45%;
  height: 25%;
  margin-top: 120px;
  margin-left: 100px; }

@media (max-width: 1000px) {
  .slideshow-container {
    width: 80%; }

  .mySlides {
    width: 80%; }

  .slides-text {
    line-height: 100%; }

  .dot-div {
    position: relative;
    z-index: 2;
    text-align: center; } }
@media (min-width: 1000px) {
  .slides-text {
    line-height: 10%; }

  .dot-div {
    position: relative;
    z-index: 2;
    text-align: right; } }
.slides-text {
  font-size: 32px; }

.slides-text-bottom {
  font-size: 15px;
  color: gray; }

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
.logo-div {
  position: relative;
  margin-bottom: -500px;
  z-index: 1;
  float: right;
  bottom: 160px;
  margin-top: 20px; }

.logo-svg {
  width: 360px;
  height: 330px; }

#bottom-container {
  overflow: hidden;
  margin-top: 20px;
  text-align: center; }

@media screen and (min-width: 1000px) {
  #bottom-container {
    height: 350px; }

  #bottom-container > #bottom-items {
    width: 65.8%; }

  #bottom-items {
    position: absolute;
    bottom: 30px; } }
@media only screen and (max-width: 1000px) {
  #bottom-container {
    height: 750px; }

  .spoling-background {
    text-align: center; }

  .bottom-side {
    display: none; }

  #bottom-container > #bottom-items {
    width: 100%; }

  #bottom-items {
    position: absolute;
    z-index: 2;
    top: 80%; } }
@media only screen and (max-device-height: 700px) {
  #bottom-items {
    position: absolute;
    z-index: 2;
    top: 35%; }

  .bottom-header-icon {
    font-size: 30px; }

  .bottom-header-text {
    font-size: 40px; }

  .bototm-body-text {
    font-size: 30px; }

  .bottom-link {
    font-size: 30px; }

  body {
    background-color: #0B4E70; } }
#spoling-background {
  transform: rotate(6deg);
  position: relative;
  z-index: 2;
  top: 85px;
  left: -10%;
  width: 180%;
  height: 120%;
  background-color: #0B4E70; }

#bottom-items {
  z-index: 2; }

.bottom-single-mid::after {
  clear: both;
  content: "";
  display: block; }

.bottom-single-mid__side-div {
  width: calc(14.2857142857%);
  float: left;
  margin-left: 0px;
  height: 100px; }

.bottom-single-mid__mid-div {
  width: calc(100%);
  float: left;
  margin-left: 0px;
  margin-bottom: 40px;
  color: white; }
  @media (min-width: 1000px) {
    .bottom-single-mid__mid-div {
      width: calc(71.4285714286%);
      float: left;
      margin-left: 0px; } }

.bottom-single-thirds {
  margin-left: -50px;
  margin-right: -50px;
  width: calc(100% + 100px); }
  .bottom-single-thirds::after {
    clear: both;
    content: "";
    display: block; }

.bottom-single-thirds__items {
  width: calc(100%);
  float: left;
  margin-left: 0px; }
  @media (min-width: 1000px) {
    .bottom-single-thirds__items {
      width: calc(33.3333333333% - 66.6666666667px);
      float: left;
      margin-left: 50px; } }

@media (max-width: 1000px) {
  .bottom-single-thirds__items {
    margin-bottom: 40px; } }
@media only screen and (min-device-height: 700px) {
  .bototm-body-text {
    font-size: 11px; }

  .bottom-link {
    font-size: 12px; } }
.bottom-link {
  color: #049c02;
  text-decoration: underline; }
  .bottom-link:hover {
    color: lightgreen;
    cursor: pointer; }

/*# sourceMappingURL=webtest.css.map */
