@import "neat/neat";

body {
    background-color: gray;
}

$body-background-thirds: (
    columns: 12,
    gutter: 0px,
    media: "(min-width: 1000px)",
);

$body-background-thirds-below: (
    columns: 1,
    gutter: 0px,
);

$header-link-sixs: (
    columns: 13,
    gutter: 5px,
    media: "(min-width: 768px)",
);

$header-link-below: (
    columns: 1,
    gutter: 0px,
);

.body-background-thirds {
    @include grid-container;
}

.body-background-thirds__side {
    @include grid-column(2, $body-background-thirds);
    height: 1px;
}

.body-background-thirds__center {
    @include grid-column(1, $body-background-thirds-below);

    @include grid-media($body-background-thirds) {
        @include grid-column(8);
    }
    background-color: white;
    height: 100%;
}

.header-link-sixs {
    @include grid-container;
}

.header-link-sixs__theLink {
    @include grid-media($header-link-sixs) {
        @include grid-column(1);
        margin-top: 50px;
        font-size: 8px;
        text-align: center;
    }

    @include grid-column(1, $header-link-below);
    font-size: 8px;
}

.header-link-sixs__contact {
    @include grid-column(1, $header-link-sixs);
    margin-top: 50px;
    font-size: 8px;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    &:hover {
        cursor: pointer;
    }
}

.the-link {
    &:hover { 
        cursor: pointer; 
        color: rgb(10, 130, 245);
    }
}

.header-link-sixs__left-blank {
    @include grid-column(6, $header-link-sixs);
    margin-top: 50px;
}

// for nav drawer
#nav-icon {
    margin: 20px;
    &:hover {
        cursor: pointer;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media (max-width: 1000px) {
    #nav-links {
        display: none;
    }
}

@media (min-width: 1000px) {
    #nav-icon {
        display: none;
    }
}
// 


//for slides
.mySlides {
    position: relative;
    z-index: 2;
    display:none;
    width: 400px;
    height: 20%;
}

.slideshow-container {
    z-index: 2;
    width: 45%;
    height: 25%;
    margin-top: 120px;
    margin-left: 100px;
}

@media (max-width: 1000px) {
    .slideshow-container {
        width: 80%;
    }

    .mySlides {
        width: 80%;
    }

    .slides-text {
        line-height: 100%;
    }

    .dot-div {
        position: relative;
        z-index: 2;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    .slides-text {
        line-height: 10%;
    }

    .dot-div {
        position: relative;
        z-index: 2;
        text-align: right;
    }
}

.slides-text {
    font-size: 32px;
}

.slides-text-bottom {
    font-size: 15px; 
    color: gray
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
//

//for logo
.logo-div {
    position: relative;
    margin-bottom: -500px;
    z-index: 1;
    float: right;
    bottom: 160px;
    margin-top: 20px;
}

.logo-svg {
    width: 360px;
    height: 330px;
}
//

//for bottom
#bottom-container {
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    #bottom-container {
        height: 350px;
    }

    #bottom-container > #bottom-items {
        width: 65.8%;
    }

    #bottom-items {
        position: absolute;
        bottom: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    #bottom-container {
        height: 750px;
    }

    .spoling-background {
        text-align: center;
    }

    .bottom-side {
        display: none;
    }

    #bottom-container > #bottom-items {
        width: 100%;
    }

    #bottom-items {
        position: absolute;
        z-index: 2;
        top: 80%;
    }
}

@media only screen and (max-device-height: 700px) {
    #bottom-items {
        position: absolute;
        z-index: 2;
        top: 35%;
    }

    .bottom-header-icon {
        font-size: 30px;
    }

    .bottom-header-text {
        font-size: 40px;
    }

    .bototm-body-text {
        font-size: 30px;
    }

    .bottom-link {
        font-size: 30px;
    }

    body {
        background-color: #0B4E70;
    }
}

#spoling-background {
    transform:rotate(6deg);
    position: relative;
    z-index: 2;
    top: 85px;
    left: -10%;
    width: 180%;
    height: 120%;
    background-color: #0B4E70;
}

#bottom-items {
    z-index: 2;
}
//

//for bottom single div
$bottom-single-mid: (
    columns: 7,
    gutter: 0px,
    media: "(min-width: 1000px)",
);

$bottom-single-mid-below: (
    columns: 1,
    gutter: 0px,
);

$bottom-single-thirds: (
    columns: 3,
    gutter: 50px,
    media: "(min-width: 1000px)",
);

$bottom-single-thirds-below: (
    columns: 1,
    gutter: 0px,
);

.bottom-single-mid {
    @include grid-container;
}

.bottom-single-mid__side-div {
    @include grid-column(1, $bottom-single-mid);
    height: 100px;
}

.bottom-single-mid__mid-div {
    @include grid-media($bottom-single-mid) {
        @include grid-column(5);
    }

    @include grid-column(1, $bottom-single-mid-below);
    margin-bottom: 40px;
    color: white;
}

.bottom-single-thirds {
    @include grid-collapse($bottom-single-thirds);
    @include grid-container;
}

.bottom-single-thirds__items {
    @include grid-media($bottom-single-thirds) {
        @include grid-column(1);
    }

    @include grid-column(1, $bottom-single-thirds-below);
}

@media (max-width: 1000px) {
    .bottom-single-thirds__items {
        margin-bottom: 40px;
    }
}

@media only screen and  (min-device-height: 700px) {
    .bototm-body-text {
        font-size: 11px;
    }

    .bottom-link {
        font-size: 12px;
    }
}

.bottom-link {
    color: rgb(4, 156, 2);
    text-decoration: underline;
    &:hover {
        color: lightgreen;
        cursor: pointer;
    }
}